.yay {
    margin-left: 400px;  
}

#bk{
    text-align: center;
    background: black;
    padding: 10px 20px;
    color: white;
}

.adi{
    color: black;
    font-weight: bold;
    font-size: 2em;
}